<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{static 'patient\Appointmentday.css'}">
    <title>Document</title>
</head>
<body>
   
    <section class="home" id="Home">


        <div class="content">
            <h3>Appointments</h3>
            <p>Doctor's Name: furfgukpi7ifujh,dtuffiotigkuhi jhgkgul</p>
            <p>Date of Appointment: know Safety, No Pain.</p>
            <p>Reason of visit: know Safety, No Pain.</p>
            <p>Patient's name: know Safety, No Pain.</p>
            <p>Patient's Age: know Safety, No Pain.</p>
            <p>Patient's Gender: know Safety, No Pain.</p>
            <a href="#" class="btn"> Cancel Appointment <span class="fas fa-chevron-right"></span> </a>
        </div>

    </section>

    


    <script src="{%static 'patient\Appointmentday.js'%}"></script>
</body>
</html>