<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'patient\form.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="title">Booking</div>
        <form action="#">
             
            <div class="user-details">
               <!---- <div class="input-box">
                    <span class=details>Doctor name</span>
                    <input type="text" placeholder="Enter Doctor name" required>
                </div>-->
                <div class="input-box full"> 
                    <span class=details>Doctor name</span>
                    <input type="text" placeholder="Enter Doctor name" required>
                </div>
                <div class="input-box">
                    <span class=details>Reason for visit</span>
                    <input type="text" placeholder="Enter reason for visit" required>
                </div>
                <div class="input-box">
                    <span class=details>Date of visit</span>
                    <input type="date" placeholder="Enter date of visit" required>
                </div>
                <div class="input-box">
                    <span class=details>Name of patient</span>
                    <input type="text" placeholder="Enter name of patient" required>
                </div>
                <div class="input-box">
                    <span class=details>Email of patient</span>
                    <input type="text" placeholder="Enter email of patient" required>
                </div>
                <div class="input-box">
                    <span class=details>Age of patient</span>
                    <input type="number" placeholder="Enter age of patient" required>
                </div>

                <div class="input-box">
                    <span class=details>Phone number of patient</span>
                    <input type="number" placeholder="Enter Phone number of patient" required>
                </div>
           </div>
           <div class="gender-details">
               <input type="radio" name="gender" id="dot-1">
               <input type="radio" name="gender" id="dot-2">
               <input type="radio" name="gender" id="dot-3">
            <span class="gender-title">Gender of patient</span>
            <div class="category">
                <label for="dot-1">
                    <span class="dot one"></span>
                    <span class="gender">Male</span>
                </label>
                <label for="dot-2">
                    <span class="dot two"></span>
                    <span class="gender">Female</span>
                </label>
                <label for="dot-3">
                    <span class="dot three"></span>
                    <span class="gender">Prefer not to say</span>
                </label>
            </div>
           </div>
           <div class="button">
            <input type="submit"  value="Booking">
         </div>
       </form>
    </div>
    
</body>
<script src="{% static 'patient\form.js' %}"></script>
</html>